<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/manu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <% if(seller) { %>
        <title>구매자(<%= targetName %>)님과 채팅</title>
    <% } else { %>
        <title>판매자(<%= targetName %>)님과 채팅</title>
    <% } %>
    <style>
        body{ margin: 0; }
        #main {
            height: 100vh;
            width: 100vw;
            margin: 0;
            background-color: rgb(228, 228, 228);
            position: relative;
        }
        #top {
            margin: 0;
            background-color: rgb(165, 165, 165);
            font-weight: bold;
            padding-bottom: 10px;
            box-shadow: 0 0 10px gray;
            padding-top: 5px;
            position: relative;
        }
        #top > h4 {
            margin-top: 0;
            text-align: center;
        }
        #top > h6 {
            margin-bottom: 0;
            text-align: center;
        }
        #talkContents {
            display:flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - 174.77px);
            padding: 10px;
            position: relative;
            overflow-y: auto;
            box-sizing: border-box;
        }
        #talkContents::-webkit-scrollbar { width: 7px; }
        #talkContents::-webkit-scrollbar-thumb {
            background: linear-gradient(#ffa136, #e07902);
            background-color: #b96301;
            box-shadow: 0 1px 1px #f8b569;
            border-radius: 50px;
        }
        #talkContents::-webkit-scrollbar-track {
            background-color: rgb(114, 70, 19);
            border-radius: 10px;
            box-shadow: inset 0px 0px 5px white;
        }
        #talkContents > *{
            flex-shrink: 0;
        }
        .textinput {
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
        }
        #content {
            background-color: white;
            width: 85%;
            height: 100%;
        }
        #sendbtn {
            margin: 0;
            height: 100%;
            width: 15%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(#ffa136, #e07902);
            background-color: #b96301;
            box-shadow: 0 1px 1px #f8b569;
        }

        .mybox {
            width: 100%;
            position: relative;
            left: 5px;
            float: right;
            display: flex;
            align-items: flex-end;
            flex-direction: row-reverse;
            overflow: hidden;
            word-wrap: break-word;
        }
        .speechBubbleme {
            background: linear-gradient(#ffa136, #e07902);
            background-color: #b96301;
            box-shadow: 0 1px 1px #f8b569;
            position: relative;
            width: fit-content;
            right: 0px;
            margin: 3px;
            border-radius: 10px;
            padding: 6px 8px;
            color: white;
        }
        .speechBubbltme::after {
            border-top: 15px solid #ffa136;
            border-left: 0px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 0px solid transparent;
            content:"";
            position:absolute;
            top:10px;
            right:-15px;
        }

        .targetbox {
            align-items: flex-end;
            display: flex;
            overflow: hidden;
            word-break: break-all;
            width: 78%;
            word-wrap: break-word;
        }
        .speechBubbletarget {
            background: linear-gradient(#e4ddd4, #a7a29e);
            background-color: #b4a89a;
            box-shadow: 0 1px 1px #fff5ea;
            position: relative;
            width: fit-content;
            left: 0px;
            margin: 3px;
            border-radius: 10px;
            padding: 6px 8px;
            float: left;
        }
        .speechBubblttarget::after {
            border-top: 15px solid #e4ddd4;
            border-left: 15px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 0px solid transparent;
            content:"";
            position:absolute;
            top:10px;
            left:-15px;
        }

        #moreVert {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 30px;
            z-index: 100;
            cursor: pointer;
        }
        #toppro > h4 {
            bottom: 55px !important;
        }
        #toppro > i, #toppro > img {
            top: 30px !important;
        }
        .timespan {
            color: darkgray;
            font-size: 10px;
            flex-shrink: 0;
        }
        .back-line {
            width: 100%;
            height: 1.2px;
            background-color: darkgray;
            position: absolute;
            transform: translate(0%, -50%);
            top: 50%;
            z-index: 5;
        }
        .date-span {
            z-index: 10;
            background-color: rgb(228, 228, 228);
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
        .timespan.me {
            padding-right: 8px;
        }
        .timespan.target { padding-left: 8px; }
        .datebox {
            height: 23px;
            text-align: center;
            position: relative;
            margin: 8px 0 5px 0;
        }
        .startSpan {
            position: relative;
            transform: translate(-50%, -50%);
            top: 20%;
            left: 50%;
            color: darkgray;
            font-size: 20px;
            text-align: center;
        }
    </style>
    <script src="/javascripts/IProfile.js"></script>
</head>
<body>
    <div id="main">
        <div id="top">
            <i id="moreVert" class="material-icons">more_vert</i>
            <% if(seller) { %>
                <h4 class="who seller">구매자님과 채팅</h4>
                <h6><%=targetName%></h6>
            <% } else { %>
                <h4 class="who consumer">판매자님과 채팅</h4>
                <h6><%=targetName%></h6>
            <% } %>
        </div>
        <div id="talkContents"></div>
        <div class="textinput">
            <textarea name="" id="content" cols="30" rows="15" maxlength="152" placeholder="내용을 입력해주세요.   줄바꿈 = Shift + Enter"></textarea>
            <a id="sendbtn" class="waves-effect waves-light btn"><i class="material-icons">send</i></a>
        </div>
    </div>

    <div id="proselectd">
        <div id="proselect">
            <div id="toppro">
                <h4 id="delh4">상대 정보</h4>
                <img src="/images/userProfile/<%=ProFile%>" onerror="IProfile();" id="deimg">
            </div>
            <div id="psoption">
                <div id="originalPro"><span><%=targetInfo.email%></span></div>
                <div id="profilechange"><a id="phone" href="tel:<%=targetInfo.phone%>">전화하기</a></div>
            </div>
            <div id="closeselect"><span>닫기</span></div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let talkContents = document.getElementById("talkContents");

        let lastDate;

        window.onload = () => {
            let ur = location.href.split('/');
            let url = {
                url: `${ur[4]}.${ur[5]}.${ur[6]}`
            }
            console.log(url)
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/chat/history/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                let data = JSON.parse(xhr.responseText);
                if(xhr.readyState === 4 && xhr.status === 200) {
                    if(data.result == "success") {
                        let thenDate;

                        if(data.data.length == 0) {
                            let start = document.createElement("span");
                            start.classList.add("startSpan");
                            start.innerHTML = "먼저 말을 걸어보세요..!";
                            talkContents.append(start);
                            talkContents.classList.add('first');
                        } else {
                            lastDate = data.data[data.data.length-1].date;

                            for(let i=0; i<data.data.length; i++) {
                                if(thenDate == data.data[i].date) {
                                    if(data.data[i].senderID == data.me) {
                                        let wi100 = document.createElement("div");
                                        wi100.classList.add("mybox");
                                        let speechBubble = document.createElement("div");
                                        speechBubble.classList.add("speechBubbleme");
                                        speechBubble.innerHTML = data.data[i].content;

                                        wi100.append(speechBubble);

                                        let timespan = document.createElement("span");
                                        timespan.innerHTML = data.data[i].time;
                                        timespan.classList.add('timespan');
                                        timespan.classList.add('me');

                                        wi100.append(timespan);
                                        talkContents.append(wi100);
                                        talkContents.scrollTop = talkContents.scrollHeight;
                                    } else {
                                        let timespan = document.createElement("span");
                                        timespan.innerHTML = data.data[i].time;
                                        timespan.classList.add('timespan');
                                        timespan.classList.add('target');

                                        let wi100 = document.createElement("div");
                                        wi100.classList.add("targetbox");

                                        let speechBubble = document.createElement("div");
                                        speechBubble.classList.add("speechBubbletarget");
                                        speechBubble.innerHTML = data.data[i].content;

                                        wi100.append(speechBubble);

                                        wi100.append(timespan);
                                        talkContents.append(wi100);
                                        talkContents.scrollTop = talkContents.scrollHeight;
                                    }
                                } else {
                                    thenDate = data.data[i].date;
                                    let datebox = document.createElement('div');
                                    datebox.classList.add('datebox');

                                    let backLine = document.createElement('div');
                                    backLine.classList.add('back-line');
                                    datebox.append(backLine);

                                    let datespan = document.createElement('span');
                                    datespan.innerHTML = `${data.data[i].date} ${data.data[i].week}`;
                                    datespan.classList.add('date-span');

                                    datebox.append(datespan);
                                    talkContents.append(datebox);

                                    if(data.data[i].senderID == data.me) {
                                        let wi100 = document.createElement("div");
                                        wi100.classList.add("mybox");
                                        let speechBubble = document.createElement("div");
                                        speechBubble.classList.add("speechBubbleme");
                                        speechBubble.innerHTML = data.data[i].content;

                                        wi100.append(speechBubble);

                                        let timespan = document.createElement("span");
                                        timespan.innerHTML = data.data[i].time;
                                        timespan.classList.add('timespan');
                                        timespan.classList.add('me');

                                        wi100.append(timespan);
                                        talkContents.append(wi100);
                                        talkContents.scrollTop = talkContents.scrollHeight;
                                    } else {
                                        let wi100 = document.createElement("div");
                                        wi100.classList.add("targetbox");

                                        let speechBubble = document.createElement("div");
                                        speechBubble.classList.add("speechBubbletarget");
                                        speechBubble.innerHTML = data.data[i].content;

                                        let timespan = document.createElement("span");
                                        timespan.innerHTML = data.data[i].time;
                                        timespan.classList.add('timespan');
                                        timespan.classList.add('target');

                                        wi100.append(speechBubble);

                                        wi100.append(timespan);
                                        talkContents.append(wi100);
                                        talkContents.scrollTop = talkContents.scrollHeight;
                                    }
                                }
                            }
                        }
                    }
                } else {
                    console.log(data);
                }
            }
            xhr.send(JSON.stringify(url));
        }
        let content = document.getElementById("content");
        let sendbtn = document.getElementById("sendbtn");

        let moreVert = document.getElementById("moreVert");

        let closeselect = document.getElementById("closeselect");

        let profilechange = document.getElementById("profilechange");
        let phone = document.getElementById("phone");
        profilechange.onclick = () => {
            location.href = phone.href;
        }

        let setoggle = false;

        const socket = io();
        socket.on('connect', () => {
            console.log("GOOD");  
        });

        socket.on("metoo", (d)=>{
            if(talkContents.classList.contains('first')) {
                let start = document.querySelector(".startSpan");
                start.parentNode.removeChild(start);
                talkContents.classList.remove('first');
            }

            let today = new Date;

            let year = today.getFullYear();
            let month = today.getMonth() + 1;
            let day = today.getDate();
            let week = today.getDay();
            let KoWeek;

            if(week == 0) KoWeek = '일요일';
            else if(week == 1) KoWeek = '월요일';
            else if(week == 2) KoWeek = '화요일';
            else if(week == 3) KoWeek = '수요일';
            else if(week == 4) KoWeek = '목요일';
            else if(week == 5) KoWeek = '금요일';
            else if(week == 6) KoWeek = '토요일';

            let date = `${year}년 ${month}월 ${day}일`;

            if(lastDate != date) {
                let datebox = document.createElement('div');
                datebox.classList.add('datebox');

                let backLine = document.createElement('div');
                backLine.classList.add('back-line');
                datebox.append(backLine);

                let datespan = document.createElement('span');
                datespan.innerHTML = `${date} ${KoWeek}`;
                datespan.classList.add('date-span');

                datebox.append(datespan);
                talkContents.append(datebox);
            }

            let time = today.toLocaleTimeString();

            let wi100 = document.createElement("div");
            wi100.classList.add("targetbox");

            let speechBubble = document.createElement("div");
            speechBubble.classList.add("speechBubbletarget");
            speechBubble.innerHTML = d;

            let timespan = document.createElement("span");
            timespan.innerHTML = time;
            timespan.classList.add('timespan');
            timespan.classList.add('target');

            wi100.append(speechBubble);
            wi100.append(timespan);
            talkContents.append(wi100);
            talkContents.scrollTop = talkContents.scrollHeight;
            lastDate = date;
        });

        content.addEventListener('keyup', (event)=>{
            if(event.keyCode == 13) {
                if(content.value.trim().length > 0 && !event.shiftKey) {
                    send(content.value.trim());
                } else if(content.value.trim().length == 0 && !event.shiftKey) { alert("문자를 입력해주세요."); }
            }
        });
        content.addEventListener('keydown', (event) => {
            if(event.keyCode == 13 && !event.shiftKey){
                event.preventDefault();
            }
        })
        sendbtn.onclick = () => {
            if(content.value.trim().length > 0) {
                send(content.value.trim());
            } else if(content.value.trim().length == 0) { alert("문자를 입력해주세요."); }
        }

        function send(msg) {
            if(talkContents.classList.contains('first')) {
                let start = document.querySelector(".startSpan");
                start.parentNode.removeChild(start);
                talkContents.classList.remove('first');
            }

            let regex = /\n/gi;
            let bmsg = msg.replace(regex, '<br>');

            socket.emit("hi", bmsg);

            let today = new Date;

            let year = today.getFullYear();
            let month = today.getMonth() + 1;
            let day = today.getDate();
            let week = today.getDay();
            let KoWeek;

            if(week == 0) KoWeek = '일요일';
            else if(week == 1) KoWeek = '월요일';
            else if(week == 2) KoWeek = '화요일';
            else if(week == 3) KoWeek = '수요일';
            else if(week == 4) KoWeek = '목요일';
            else if(week == 5) KoWeek = '금요일';
            else if(week == 6) KoWeek = '토요일';

            let date = `${year}년 ${month}월 ${day}일`;

            if(lastDate != date) {
                let datebox = document.createElement('div');
                datebox.classList.add('datebox');

                let backLine = document.createElement('div');
                backLine.classList.add('back-line');
                datebox.append(backLine);

                let datespan = document.createElement('span');
                datespan.innerHTML = `${date} ${KoWeek}`;
                datespan.classList.add('date-span');

                datebox.append(datespan);
                talkContents.append(datebox);
            }

            let time = today.toLocaleTimeString();

            let wi100 = document.createElement("div");
            wi100.classList.add("mybox");
            let speechBubble = document.createElement("div");
            speechBubble.classList.add("speechBubbleme");
            speechBubble.innerHTML = bmsg;

            let timespan = document.createElement('span');
            timespan.innerHTML = time;
            timespan.classList.add('timespan');
            timespan.classList.add('me');

            wi100.append(speechBubble);
            wi100.append(timespan);
            talkContents.append(wi100);
            talkContents.scrollTop = talkContents.scrollHeight;
            content.value = '';
            lastDate = date;
        }

        moreVert.onclick = () => {
            toggle = false;
            if(!setoggle) {
                setoggle = true;
                proselectd.style.display = "flex";
                proselect.classList.remove("psc");
                proselect.classList.remove("pso");
                proselect.classList.add("pso");
            }
        }

        closeselect.onclick = () => {
            if(setoggle) {
                setoggle = false;
                proselect.classList.remove("pso");
                proselect.classList.remove("psc");
                proselect.classList.add("psc");
                let dis = setTimeout(() => {
                    proselectd.style.display = "none";
                    clearTimeout(dis);
                }, 370);
            } else if(!setoggle) {
                setoggle = true;
                proselectd.style.display = "flex";
                proselect.classList.remove("psc");
                proselect.classList.remove("pso");
                proselect.classList.add("pso");
            }
        }
    </script>
</body>
</html>