<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/../stylesheets/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/../stylesheets/manu.css">
    <link rel="stylesheet" href="/../stylesheets/top.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="/../images/favicon.ico">
    <title>택배 조회 기록</title>
    <style>
        body {
            margin: 0;
            min-height: 850px;
        }
        .mlogin table a {
            color: #8b4a00;
            font-size: 12px;
            font-weight: normal;
            text-decoration: none;
        }
        .mlogin {
            position: absolute;
            right: 50px;
        }
        .mlogin table {
            text-align: left;
            border-collapse: unset !important;
        }
        .mlogin table td, .mlogin table th {
            padding: 2px !important;
        }
        .main {
            width: 100%;
            height: fit-content;
        }
        .main1 {
            width: 100%;
            position: absolute;
            top: 90px;
            right: 0;
        }
        #show table {
            margin-bottom: 50px;
            table-layout: fixed;
        }
        .main1 h2 { font-size: 35px; }
        .main1 h3 { font-size: 28px; }
        .main1 h4 { font-size: 20px; }
        #show table tr:first-child td:first-child { width: 33.33333%; }
        #show table tr:first-child td:last-child { width: 66.66667%; }
        #chdate {
            margin-left: 50px;
            width: fit-content;
            height: 25px;
            padding: 2px;
            display: inline-block !important;
            background-color: rgba(239,150,25,0.3);
        }
        @media only screen and (max-width: 600px) {
            .exp span {
                font-size: 35px;
            }
            #menubar {
                display: none;
            }
            #semenu {
                display: none;
            }
            #show {
                display: none;
            }
            #show { padding: 10px 30px; }
            #mshow { padding: 0 30px; }
        }
        @media only screen and (min-width: 1201px) {
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            #mshow {
                display: none;
            }
            #show { padding: 10px 80px; }
            #mshow { padding: 0 80px; }
            #show table { width: 70%; }
        }
        @media only screen and (min-width: 993px) and (max-width: 1200px) {
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            .mlogin {
                display: none;
            }
            #mshow {
                display: none;
            }
            #show { padding: 10px 80px; }
            #mshow { padding: 0 80px; }
            #show table { width: 70%; }
        }
        @media only screen and (min-width: 601px) and (max-width: 992px) {
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            .mlogin {
                display: none;
            }
            #mshow {
                display: none;
            }
            #show { padding: 10px 80px; }
            #mshow { padding: 0 80px; }
            #show table { width: 70%; }
        }
    </style>
</head>
<body>
    <div class="top row">
        <div class="logo hide-on-med-and-down" onclick="location.replace('/');">
            <i class="fa fa-truck" style="cursor:pointer;"></i>
        </div>
        <div class="exp">
            <span><%= decoded.uname %> 님의 조회 기록</span>
        </div>
        <div class="mlogin hide-on-med-and-down">
            <table id="logined">
                <tbody>
                    <tr><td><%= decoded.uname %> : <%= decoded.uid %></td></tr>
                    <tr><td style="text-align: right;"><a href="/account/logout">로그아웃</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main">
        <div class="menu" style="display: none;">
            <div class="menutap menutap1" onclick="location.replace('/');">택배 조회 (메인 화면)</div>
            <div class="menutap menutap2" onclick="location.replace('/loginuser/tmanage');">택배 관리</div>
            <div class="menutap menutap3 sel" onclick="location.replace('/loginuser/searchrecord');">택배 조회 기록</div>
            <div class="menutap menutap4" onclick="location.replace('/account/');">로그인 / 회원가입</div>
            <div class="menutap menutap5" onclick="location.replace('/loginuser/setting');">설정</div>
            <div class="menutap menutap55" onclick="location.replace('/loginuser/chat');">판매자와 채팅</div>
            <div class="menutap menutap6" onclick="location.replace('/about/');">더보기</div>
        </div>
        <div class="mmenu" style="display: none; position: relative; float: left; z-index: 50;" id="semenu">
            <div class="mmenutap menutap1" onclick="location.replace('/');">택배 조회 (메인 화면)</div>
            <div class="mmenutap menutap2" onclick="location.replace('/loginuser/tmanage');">택배 관리</div>
            <div class="mmenutap menutap3 sel" onclick="location.replace('/loginuser/searchrecord');">택배 조회 기록</div>
            <div class="mmenutap menutap4" onclick="location.replace('/account/');">로그인 / 회원가입</div>
            <div class="mmenutap menutap5" onclick="location.replace('/loginuser/setting');">설정</div>
            <div class="mmenutap menutap55" onclick="location.replace('/loginuser/chat');">판매자와 채팅</div>
            <div class="mmenutap menutap6" onclick="location.replace('/about/');">더보기</div>
        </div>
        <div class="main1">
            <i class="material-icons" id="menubar" style="font-size: 40px; cursor: pointer;">menu</i>
            <i class="material-icons" id="mmenubar" style="font-size: 40px; cursor: pointer; z-index: 600;">menu</i>

            <% if(decoded) { %>
                <span class="mmlogin" style="position: absolute; top: 20px; right: 10px;"><%=decoded.uname%> : <%=decoded.uid%></span><br>
                <a class="mmlogin" href="/account/logout" style="color: gray; position:absolute; right: 10px; top: 40px;">로그아웃</a>
            <% } else {%>
                <a class="mmlogin" href="/account/login" style="color: gray; position:absolute; right: 10px; top: 30px;">로그인 하러 가기</a>
            <% } %>
            
            <div id="mshow">
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>이름</td>
                            <td><%= decoded.uname %></td>
                        </tr>
                        <tr>
                            <td>아이디</td>
                            <td><%= decoded.uid %></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td class="pass"></td>
                        </tr>
                        <tr>
                            <td>전화번호</td>
                            <td class="phone"></td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td class="email"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="show">
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>이름</td>
                            <td><%= decoded.uname %></td>
                        </tr>
                        <tr>
                            <td>아이디</td>
                            <td><%= decoded.uid %></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td class="pass"></td>
                        </tr>
                        <tr>
                            <td>전화번호</td>
                            <td class="phone"></td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td class="email"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/../javascripts/menu.js"></script>
    <script>
        let show = document.getElementById("show");
        let ing = document.getElementById("ing");

        let chdate = document.getElementById("chdate");

        window.onload = () => {
            let Info = { apploval: true };

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/account/set/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.msg) { console.log(data.msg); }
                    let pass = document.querySelectorAll(".pass");
                    let phone = document.querySelectorAll(".phone");
                    let email = document.querySelectorAll(".email");

                    let starpass = "";

                    for(let i=0; i<data.userpass.length; i++) { starpass += "*"; }

                    for(let i=0; i<pass.length; i++) { pass.innerHTML = starpass; }
                    for(let i=0; i<phone.length; i++) { phone.innerHTML = data.userphone; }
                    for(let i=0; i<email.length; i++) { email.innerHTML = data.useremail; }
                }
            }
            xhr.send(JSON.stringify(Info));
        }
    </script>
</body>
</html>