<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/manu.css">
    <link rel="stylesheet" href="/stylesheets/top.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>택배 조회 관리</title>
    <style>
        body {
            margin: 0;
            min-height: 850px;
        }
        .mlogin table a {
            color: #8b4a00;
            font-size: 12px;
            font-weight: normal;
            text-decoration: none;
        }
        .mlogin {
            position: absolute;
            right: 50px;
        }
        .mlogin table {
            text-align: left;
            border-collapse: unset !important;
        }
        .mlogin table td, .mlogin table th {
            padding: 2px !important;
        }
        .main {
            width: 100%;
            height: fit-content;
        }
        .main1 {
            width: 100%;
            position: absolute;
            top: 90px;
            right: 0;
        }
        .emphasized {
            z-index: 500;
            box-shadow: rgba(0,0,0,0.5) 0 0 0 9999px;
        }
        .loading {
            background-color: rgba(0,0,0,0.5);
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            height: 80px;
            transform: translate(-50%, -50%);
        }
        .loadingif {
            width: 100%;
            height: 100%;
        }
        #show table, #ing table {
            margin-bottom: 50px;
        }
        .main1 h2 { font-size: 35px; }
        .main1 h3 { font-size: 28px; }
        .main1 h4 { font-size: 20px; }
        #show table tr:first-child td:first-child, #ing table tr:first-child td:first-child { width: 33.33333%; }
        #show table tr:first-child td:last-child, #ing table tr:first-child td:last-child { width: 66.66667%; }
        
        #chdate {
            margin-left: 50px;
            width: fit-content;
            height: 25px;
            padding: 2px;
            display: inline-block !important;
            background-color: rgba(155, 155, 155, 0.3);
        }
        #si {
            width: fit-content;
            height: 25px;
            padding: 2px;
            display: inline-block !important;
            background-color: rgba(155, 155, 155, 0.3);
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
        }
        #show table, #ing table {
            border-left: 7px solid #eb8012;
        }
        @media only screen and (max-width: 600px) {
            .exp span {
                font-size: 35px;
            }
            #menubar {
                display: none;
            }
            #semenu {
                display: none;
            }
            #show, #ing { padding: 10px 30px; }
            #mshow, #ming { padding: 0 30px; }
        }
        @media only screen and (min-width: 1201px) {
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            #show, #ing { padding: 10px 80px; }
            #mshow, #ming { padding: 0 80px; }
            #show table, #ing table { width: 70%; }
        }
        @media only screen and (min-width: 993px) and (max-width: 1200px) {
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            .mlogin {
                display: none;
            }
            #show, #ing { padding: 10px 80px; }
            #mshow, #ming { padding: 0 80px; }
            #show table, #ing table { width: 70%; }
        }
        @media only screen and (min-width: 601px) and (max-width: 992px) {
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            .mlogin {
                display: none;
            }
            #show, #ing { padding: 10px 80px; }
            #mshow, #ming { padding: 0 80px; }
            #show table, #ing table { width: 70%; }
        }
    </style>
    <script src="/javascripts/IProfile.js"></script>
</head>
<body>
    <div class="top row">
        <div class="logo hide-on-med-and-down" onclick="location.replace('/');">
            <i class="fa fa-truck" style="cursor:pointer;"></i>
        </div>
        <div class="exp">
            <span>택배 관리</span>
        </div>
        <div class="mlogin hide-on-med-and-down">
            <table id="logined">
                <tbody>
                    <tr><td><%= decoded.uname %> : <%= decoded.uid %> | </td><td style="margin-left: 10px !important;"><a href="/account/logout">로그아웃</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main">
        <div class="menu">
            <div class="welcometap">
                <div class="wel1">
                    <% if(decoded) { %>
                        <label class="lweltext"><%=decoded.uname%>님 어서오세요!</label>
                        <img src="/images/userProfile/<%=decoded.unum%>" onerror="this.src='/images/userProfile/none.png';" class="profileImg">
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/loginuser/searchrecord/');">조회했던 택배 보기</button>
                        </div>
                    <% } else { %>
                        <div class="profileImg" style="display: none;"></div>
                        <label class="weltext">처음 오셨나요?</label>
                        <i class="fa fa-boxes"></i>
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/account/login/')">로그인</button>
                            <button class="lo" onclick="location.replace('/account/signup/');">회원가입</button>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="menutap menutap1" onclick="location.replace('/');">택배 조회 (메인 화면)</div>
            <% if(seller) { %>
                <div class="menutap menutap15" onclick="location.replace('/loginuser/delienr');">운송장 등록</div>
            <% } %>
            <div class="menutap menutap2 sel" onclick="location.replace('/loginuser/tmanage');">택배 관리</div>
            <div class="menutap menutap3" onclick="location.replace('/loginuser/searchrecord');">택배 조회 기록</div>
            <div class="menutap menutap5" onclick="location.replace('/loginuser/setting');">설정</div>
            <div class="menutap menutap55" onclick="location.replace('/loginuser/chat');">판매자와 채팅</div>
            <div class="menutap menutap6" onclick="location.replace('/about/');">더보기</div>
        </div>
        <div class="mmenu" id="semenu">
            <div class="mwelcometap">
                <div class="mwel1">
                    <% if(decoded) { %>
                        <label class="lweltext"><%=decoded.uname%>님 어서오세요!</label>
                        <img src="/images/userProfile/<%=decoded.unum%>" onerror="this.src='/images/userProfile/none.png';" class="mprofileImg">
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/loginuser/searchrecord/');">조회했던 택배 보기</button>
                        </div>
                    <% } else { %>
                        <div class="mprofileImg" style="display: none;"></div>
                        <label class="weltext">처음 오셨나요?</label>
                        <i class="fa fa-boxes"></i>
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/account/login/')">로그인</button>
                            <button class="lo" onclick="location.replace('/account/signup/');">회원가입</button>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="mmenutap menutap1" onclick="location.replace('/');">택배 조회 (메인 화면)</div>
            <% if(seller) { %>
                <div class="mmenutap menutap15" onclick="location.replace('/loginuser/delienr');">운송장 등록</div>
            <% } %>
            <div class="mmenutap menutap2 sel" onclick="location.replace('/loginuser/tmanage');">택배 관리</div>
            <div class="mmenutap menutap3" onclick="location.replace('/loginuser/searchrecord');">택배 조회 기록</div>
            <div class="mmenutap menutap5" onclick="location.replace('/loginuser/setting');">설정</div>
            <div class="mmenutap menutap55" onclick="location.replace('/loginuser/chat');">판매자와 채팅</div>
            <div class="mmenutap menutap6" onclick="location.replace('/about/');">더보기</div>
        </div>
        <div class="main1">
            <i class="material-icons" id="menubar" style="font-size: 40px; cursor: pointer;">menu</i>
            <i class="material-icons" id="mmenubar" style="font-size: 40px; cursor: pointer; z-index: 600;">menu</i>

            <% if(decoded) { %>
                <span class="mmlogin" style="position: absolute; top: 20px; right: 10px;"><%=decoded.uname%> : <%=decoded.uid%></span><br>
                <a class="mmlogin" href="/account/logout" style="color: gray; position:absolute; right: 10px; top: 40px;">로그아웃</a>
            <% } else {%>
                <a class="mmlogin" href="/account/login" style="color: gray; position:absolute; right: 10px; top: 30px;">로그인 하러 가기</a>
            <% } %>
            
            <select name="si" id="si" onchange="changeSi();">
                <option value="in">배송중인 상품</option>
                <option value="sh">배송 완료된 상품</option>
            </select>
            <h2 id="ming" style="font-weight: bold;">배송 중인 상품</h2>
            <div id="ing">
                <span class="retarget">현재 배송중인 상품이 없습니다.</span>
            </div>
            <div id="mshow">
                <h2 style="font-weight: bold; display: inline-block; margin-bottom: 0.83em;">배송 완료된 상품</h2>
                <select name="chdate" id="chdate" onchange="changeDate();">
                    <option value="all">전체 보기</option>
                    <option value="1">1월</option>
                    <option value="2">2월</option>
                    <option value="3">3월</option>
                    <option value="4">4월</option>
                    <option value="5">5월</option>
                    <option value="6">6월</option>
                    <option value="7">7월</option>
                    <option value="8">8월</option>
                    <option value="9">9월</option>
                    <option value="10">10월</option>
                    <option value="11">11월</option>
                    <option value="12">12월</option>
                </select>
            </div>
            <div id="show">
                <a href="/" class="waves-effect waves-light btn orange" style="width: 160; position: absolute; transform: translate(-50%, -50%); left: 50%;">메인 화면으로 가기</a>
            </div>
        </div>
    </div>
    <div class="loading emphasized"><div class="loadingif"><img src="/images/loading.gif" alt="" style="max-width: 100%; height:100%; box-shadow: none !important;"></div></div>
    <div id="proselectd">
        <div id="proselect">
            <div id="toppro">
                <% if(decoded) { %>
                    <span style="position: absolute; top: 10px; right: 15px; color:gray;;"><%=decoded.uid%></span>
                    <img src="/images/userProfile/<%=decoded.unum%>" onerror="IProfile();" id="deimg">
                <% } else { %>
                    <i class="far fa-user" style="font-size: 35px;"></i>
                    <div id="deimg" style="display: none !important;"></div>
                <% } %>
                <h4 id="delh4">프로필</h4>
            </div>
            <div id="psoption">
                <div id="originalPro"><span>기본 프로필</span></div>
                <div id="profilechange">
                    <label for="chpro" id="al">프로필 변경</label>
                    <form action="/profileUpload/" method="POST" enctype="multipart/form-data" onsubmit="gprofileSub(event, this);">
                        <input type="file" name="proImage" id="chpro" style="display: none !important;" accept="image/png, image/jpg, image/jpeg" onchange="prochfilecheck(this);">
                        <input type="submit" style="display: none !important;" id="psub">
                    </form>
                </div>
            </div>
            <div id="closeselect"><span>닫기</span></div>
        </div>
    </div>
    <script src="/javascripts/menu.js"></script>
    <script>
        let mshow = document.getElementById("mshow");
        let show = document.getElementById("show");
        let ming = document.getElementById("ming");
        let ing = document.getElementById("ing");

        let si = document.getElementById("si");
        let chdate = document.getElementById("chdate");

        window.onload = () => {
            if(si.value == 'in') {
                mshow.style.display = "none";
                show.style.display = "none";
            } else if(si.value == 'sh') {
                ming.style.display = "none";
                ing.style.display ="none";
            }

            let Info = { apploval: true };

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/tracking/recordcheck/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.msg) { console.log(data.msg); }
                    if(data.result == "success") {
                        for(let i=0; i<data.data.length; i++) {
                            if(data.data[i].result == 6) {
                                continue;
                            } else if(data.data[i].result != 6) {
                                rest(data.data[i].denum, data.data[i].tcode);
                            }
                        }
                    } else if(data.result == 'fail') {
                        alert("조회 기록이 남아있지 않습니다.");
                    }
                }
            }
            xhr.send(JSON.stringify(Info));
        }

        let n = 0;

        function rest(denum, tcode) {
            let info = {
                denum: denum,
                tcode: tcode
            }
            let retarget = document.querySelector(".retarget");
            retarget.parentNode.removeChild(retarget);
            n++;
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/tracking/retrack/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.result == "success") {
                        let table = document.createElement("table");
                        let tbody = document.createElement("tbody");
                        table.classList.add("striped");
                        tbody.classList.add("r" + n);
                        table.style.tableLayout = "fixed";
                        table.append(tbody);
                        ing.append(table);
                        let tabl = document.querySelector(".r" + n);
                        let tr1 = document.createElement("tr"); // 물품 번호
                        let tr2 = document.createElement("tr"); // 물품 이름
                        let tr3 = document.createElement("tr"); // 받는 사람
                        let tr4 = document.createElement("tr"); // 기사 이름
                        let tr5 = document.createElement("tr"); // 기사 전번
                        let tr6 = document.createElement("tr"); // 현재 위치
                        let tr7 = document.createElement("tr"); // 배송 상태
                        let tr8 = document.createElement("tr"); // 자세히 보기
                        
                        let td11 = document.createElement("td");
                        td11.innerHTML = '물품 번호';
                        let td12 = document.createElement("td");
                        td12.innerHTML = data.data.invoiceNo;
                        tr1.append(td11);
                        tr1.append(td12);
                        let td21 = document.createElement("td");
                        td21.innerHTML = '물품 이름';
                        let td22 = document.createElement("td");
                        td22.innerHTML = data.data.itemName;
                        tr2.append(td21);
                        tr2.append(td22);
                        let td31 = document.createElement("td");
                        td31.innerHTML = '받는 사람';
                        let td32 = document.createElement("td");
                        td32.innerHTML = data.data.receiverName;
                        tr3.append(td31);
                        tr3.append(td32);
                        let td41 = document.createElement("td");
                        td41.innerHTML = '기사 이름';
                        let td42 = document.createElement("td");
                        td42.innerHTML = data.data.trackingDetails[data.data.trackingDetails.length - 1].manName;
                        tr4.append(td41);
                        tr4.append(td42);
                        let td51 = document.createElement("td");
                        td51.innerHTML = '기사 전번';
                        let td52 = document.createElement("td");
                        td52.innerHTML = data.data.trackingDetails[data.data.trackingDetails.length - 1].telno2;
                        tr5.append(td51);
                        tr5.append(td52);
                        let td61 = document.createElement("td");
                        td61.innerHTML = '현재 위치';
                        let td62 = document.createElement("td");
                        td62.innerHTML = data.data.trackingDetails[data.data.trackingDetails.length - 1].where;
                        tr6.append(td61);
                        tr6.append(td62);
                        let td71 = document.createElement("td");
                        td71.innerHTML = '배송 상태';
                        let td72 = document.createElement("td");
                        if(data.data.level == 1) { td72.innerHTML = "배송준비중"; }
                        else if(data.data.level == 2) { td72.innerHTML = "상품인수"; }
                        else if(data.data.level == 3) { td72.innerHTML = "상품이동중"; }
                        else if(data.data.level == 4) { td72.innerHTML = "배송지도착"; }
                        else if(data.data.level == 5) { td72.innerHTML = "배송출발"; }
                        else { location.replace('/loginuser/tmanage'); }
                        tr7.append(td71);
                        tr7.append(td72);
                        let td81 = document.createElement("td");
                        td81.innerHTML = '자세히 보기';
                        let td82 = document.createElement("td");
                        let a811 = document.createElement("a");
                        a811.innerHTML = '자세히 보기';
                        a811.style.cursor = 'pointer';
                        a811.style.fontWeight = 'bold';
                        a811.onclick = () => { window.open(`/tracking/detail?t_invoice=${data.code}&t_code=${data.t_code}`, '', 'width=500,height=705,scrollbar=yes'); }
                        td82.append(a811);
                        tr8.append(td81);
                        tr8.append(td82);
                        
                        tabl.append(tr1);
                        tabl.append(tr2);
                        tabl.append(tr3);
                        tabl.append(tr4);
                        tabl.append(tr5);
                        tabl.append(tr6);
                        tabl.append(tr7);
                        tabl.append(tr8);
                    }
                }
            }
            xhr.send(JSON.stringify(info));
        }

        function changeSi() {
            if(si.value == 'in') {
                mshow.style.display = "none";
                show.style.display = "none";
                ing.style.display = "block";
                ming.style.display = "block";
                let Info = { apploval: true };

                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/tracking/recordcheck/');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if(data.msg) { console.log(data.msg); }
                        if(data.result == "success") {
                            for(let i=0; i<data.data.length; i++) {
                                if(data.data[i].result == 6) {
                                    continue;
                                } else if(data.data[i].result != 6) {
                                    rest(data.data[i].denum, data.data[i].tcode);
                                }
                            }
                        }
                    }
                }
                xhr.send(JSON.stringify(Info));
            } else if(si.value == 'sh') {
                mshow.style.display = "block";
                show.style.display = "block";
                ing.style.display = "none";
                ming.style.display = "none";

                changeDate();
            }
        }

        function changeDate() {
            if(chdate.value == 'all') {
                let Info = { apploval: true };

                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/tracking/recordcheck/');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if(data.msg) { console.log(data.msg); }
                        if(data.result == "success") {
                            while ( show.hasChildNodes() ) { show.removeChild( show.firstChild ); }
                            for(let i=0; i<data.data.length; i++) {
                                if(data.data[i].result == 6) {
                                    let h3 = document.createElement("h4");
                                    h3.innerHTML = data.data[i].pdate;
                                    show.append(h3);
                                    let table = document.createElement("table");
                                    let tbody = document.createElement("tbody");
                                    table.classList.add("striped");
                                    tbody.classList.add("t" + i);
                                    table.style.tableLayout = "fixed";
                                    table.append(tbody);
                                    show.append(table);
                                    let tabl = document.querySelector(".t" + i);
                                    let tr1 = document.createElement("tr"); // 물품 번호
                                    let tr2 = document.createElement("tr"); // 물품 이름
                                    let tr3 = document.createElement("tr"); // 받는 사람
                                    let tr4 = document.createElement("tr"); // 기사 이름
                                    let tr5 = document.createElement("tr"); // 기사 전번
                                    let tr6 = document.createElement("tr"); // 현재 위치
                                    let tr7 = document.createElement("tr"); // 배송 상태
                                    let tr8 = document.createElement("tr"); // 기록 삭제
                                    
                                    let td11 = document.createElement("td");
                                    td11.innerHTML = '물품 번호';
                                    let td12 = document.createElement("td");
                                    td12.innerHTML = data.data[i].denum;
                                    tr1.append(td11);
                                    tr1.append(td12);
                                    let td21 = document.createElement("td");
                                    td21.innerHTML = '물품 이름';
                                    let td22 = document.createElement("td");
                                    td22.innerHTML = data.data[i].toolname;
                                    tr2.append(td21);
                                    tr2.append(td22);
                                    let td31 = document.createElement("td");
                                    td31.innerHTML = '받는 사람';
                                    let td32 = document.createElement("td");
                                    td32.innerHTML = data.data[i].receiverName;
                                    tr3.append(td31);
                                    tr3.append(td32);
                                    let td41 = document.createElement("td");
                                    td41.innerHTML = '기사 이름';
                                    let td42 = document.createElement("td");
                                    td42.innerHTML = data.data[i].manname;
                                    tr4.append(td41);
                                    tr4.append(td42);
                                    let td51 = document.createElement("td");
                                    td51.innerHTML = '기사 전번';
                                    let td52 = document.createElement("td");
                                    td52.innerHTML = data.data[i].phonenum;
                                    tr5.append(td51);
                                    tr5.append(td52);
                                    let td61 = document.createElement("td");
                                    td61.innerHTML = '현재 위치';
                                    let td62 = document.createElement("td");
                                    td62.innerHTML = data.data[i].where;
                                    tr6.append(td61);
                                    tr6.append(td62);
                                    let td71 = document.createElement("td");
                                    td71.innerHTML = '배송 상태';
                                    let td72 = document.createElement("td");
                                    if(data.data[i].result != 6) {
                                        // 비정상
                                        td72.className = "restart";
                                        if(data.data[i].result == 1) { td72.innerHTML = "배송준비중"; }
                                        else if(data.data[i].result == 2) { td72.innerHTML = "상품인수"; }
                                        else if(data.data[i].result == 3) { td72.innerHTML = "상품이동중"; }
                                        else if(data.data[i].result == 4) { td72.innerHTML = "배송지도착"; }
                                        else if(data.data[i].result == 5) { td72.innerHTML = "배송출발"; }
                                    } else { td72.innerHTML = "배송완료"; } // 정상
                                    tr7.append(td71);
                                    tr7.append(td72);
                                    let td81 = document.createElement("td");
                                    td81.innerHTML = "기록 삭제";
                                    let td82 = document.createElement("td");
                                    let td82a = document.createElement("a");
                                    td82a.innerHTML = "삭제하기";
                                    td82a.style.cursor = "pointer";
                                    td82a.onclick = () => {
                                        let Info = {
                                            id: data.data[i].id,
                                            denum: data.data[i].denum
                                        };

                                        let xhr = new XMLHttpRequest();
                                        xhr.open('POST', '/tracking/recordcheck/del/');
                                        xhr.setRequestHeader('Content-Type', 'application/json');
                                        xhr.onreadystatechange = function () {
                                            if(xhr.readyState === 4 && xhr.status === 200) {
                                                location.replace(location.href);
                                            }
                                        }
                                        xhr.send(JSON.stringify(Info));
                                    }
                                    td82.append(td82a);
                                    tr8.append(td81);
                                    tr8.append(td82);
                                    
                                    tabl.append(tr1);
                                    tabl.append(tr2);
                                    tabl.append(tr3);
                                    tabl.append(tr4);
                                    tabl.append(tr5);
                                    tabl.append(tr6);
                                    tabl.append(tr7);
                                    tabl.append(tr8);
                                }
                            }
                        } else if(data.result == 'fail') {
                            while ( show.hasChildNodes() ) { show.removeChild( show.firstChild ); }

                            let tr = document.createElement("span");
                            tr.innerHTML = "조회 기록이 남아있지 않습니다.";
                            show.append(tr);
                        }
                    }
                }
                xhr.send(JSON.stringify(Info));
            } else {
                let Info = { apploval: true };

                let toggle = false;

                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/tracking/recordcheck/');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if(data.msg) { console.log(data.msg); }
                        if(data.result == "success") {
                            while ( show.hasChildNodes() ) { show.removeChild( show.firstChild ); }
                            for(let i=0; i<data.data.length; i++) {
                                console.log(data.data[i].date, chdate.value);
                                if(data.data[i].date == chdate.value) {
                                    if(data.data[i].result == 6) {
                                        let h3 = document.createElement("h4");
                                        h3.innerHTML = data.data[i].pdate;
                                        show.append(h3);
                                        let table = document.createElement("table");
                                        let tbody = document.createElement("tbody");
                                        table.classList.add("striped");
                                        tbody.classList.add("t" + i);
                                        table.style.tableLayout = "fixed";
                                        table.append(tbody);
                                        show.append(table);
                                        let tabl = document.querySelector(".t" + i);
                                        let tr1 = document.createElement("tr"); // 물품 번호
                                        let tr2 = document.createElement("tr"); // 물품 이름
                                        let tr3 = document.createElement("tr"); // 받는 사람
                                        let tr4 = document.createElement("tr"); // 기사 이름
                                        let tr5 = document.createElement("tr"); // 기사 전번
                                        let tr6 = document.createElement("tr"); // 현재 위치
                                        let tr7 = document.createElement("tr"); // 배송 상태
                                        
                                        let td11 = document.createElement("td");
                                        td11.innerHTML = '물품 번호';
                                        let td12 = document.createElement("td");
                                        td12.innerHTML = data.data[i].denum;
                                        tr1.append(td11);
                                        tr1.append(td12);
                                        let td21 = document.createElement("td");
                                        td21.innerHTML = '물품 이름';
                                        let td22 = document.createElement("td");
                                        td22.innerHTML = data.data[i].toolname;
                                        tr2.append(td21);
                                        tr2.append(td22);
                                        let td31 = document.createElement("td");
                                        td31.innerHTML = '받는 사람';
                                        let td32 = document.createElement("td");
                                        td32.innerHTML = data.data[i].receiverName;
                                        tr3.append(td31);
                                        tr3.append(td32);
                                        let td41 = document.createElement("td");
                                        td41.innerHTML = '기사 이름';
                                        let td42 = document.createElement("td");
                                        td42.innerHTML = data.data[i].manname;
                                        tr4.append(td41);
                                        tr4.append(td42);
                                        let td51 = document.createElement("td");
                                        td51.innerHTML = '기사 전번';
                                        let td52 = document.createElement("td");
                                        td52.innerHTML = data.data[i].phonenum;
                                        tr5.append(td51);
                                        tr5.append(td52);
                                        let td61 = document.createElement("td");
                                        td61.innerHTML = '현재 위치';
                                        let td62 = document.createElement("td");
                                        td62.innerHTML = data.data[i].where;
                                        tr6.append(td61);
                                        tr6.append(td62);
                                        let td71 = document.createElement("td");
                                        td71.innerHTML = '배송 상태';
                                        let td72 = document.createElement("td");
                                        if(data.data[i].result != 6) {
                                            // 비정상
                                            td72.className = "restart";
                                            if(data.data[i].result == 1) { td72.innerHTML = "배송준비중"; }
                                            else if(data.data[i].result == 2) { td72.innerHTML = "상품인수"; }
                                            else if(data.data[i].result == 3) { td72.innerHTML = "상품이동중"; }
                                            else if(data.data[i].result == 4) { td72.innerHTML = "배송지도착"; }
                                            else if(data.data[i].result == 5) { td72.innerHTML = "배송출발"; }
                                        } else { td72.innerHTML = "배송완료"; } // 정상
                                        tr7.append(td71);
                                        tr7.append(td72);
                                        
                                        tabl.append(tr1);
                                        tabl.append(tr2);
                                        tabl.append(tr3);
                                        tabl.append(tr4);
                                        tabl.append(tr5);
                                        tabl.append(tr6);
                                        tabl.append(tr7);
                                    }
                                    toggle = true;
                                } else if(i+1 == data.data.length) {
                                    if(toggle) {
                                        toggle = false;
                                        continue;
                                    } else {
                                        while ( show.hasChildNodes() ) { show.removeChild( show.firstChild ); }

                                        let tr = document.createElement("span");
                                        tr.innerHTML = chdate.options[chdate.selectedIndex].text + "의 조회 기록이 남아있지 않습니다.";
                                        show.append(tr);
                                    }
                                }
                            }
                        } else if(data.result == 'fail') {
                            while ( show.hasChildNodes() ) { show.removeChild( show.firstChild ); }

                            let tr = document.createElement("span");
                            tr.innerHTML = chdate.options[chdate.selectedIndex].text + "의 조회 기록이 남아있지 않습니다.";
                            show.append(tr);
                        }
                    }
                }
                xhr.send(JSON.stringify(Info));
            }
        }
    </script>
</body>
</html>