<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/../stylesheets/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/../stylesheets/manu.css">
    <link rel="stylesheet" href="/../stylesheets/top.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" href="/../images/favicon.ico">
    <title>더보기</title>
    <style>
        body {
            margin: 0;
            overflow: auto;
        }
        body::-webkit-scrollbar {
            width: 10px;
        }
        body::-webkit-scrollbar-thumb {
            background-color: #f57003;
            border-radius: 10px;
        }
        body::-webkit-scrollbar-track {
            background-color: rgb(114, 70, 19);
            border-radius: 10px;
            box-shadow: inset 0px 0px 5px white;
        }
        .mlogin {
            position: absolute;
            right: 50px;
        }
        .mlogin table {
            text-align: left;
            border-collapse: unset !important;
        }
        .mlogin table td, .mlogin table th {
            padding: 2px !important;
        }
        #uid, #upass {
            width: 140px;
            height: 15px;
            padding-bottom: 2px;
            color: #fff;
            font-size: 13px !important;
            margin: 0px 10px 0px 0px !important;
            border-bottom: 1px solid white;
        }
        #userloginsubmit {
            width: 70px;
            height: 30px;
            background-color: #d17000;
            color : white;
            border: 1px solid orange;
            font-weight: bold;
        }
        .mlogin table a {
            color: #8b4a00;
            font-size: 12px;
            font-weight: normal;
            text-decoration: none;
        }
        .main {
            width: 100%;
            height: fit-content;
        }
        .main1 {
            width: 100%;
            position: absolute;
            top: 90px;
            right: 0;
        }
        .emphasized {
            box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,0.5) 2px 2px 3px 3px;
            z-index: 100;
        }
        .card {
            margin: 0 !important;
        }
        #ser1pay .row, #ser2pay .row, #ser3pay .row {
            margin: 0 !important;
        }
        .taekbae {
            width: 80%;
            margin: auto;
        }
        .taekbae table {
            margin-bottom: 80px;
        }
        .taekbae .domestic table tr td, .taekbae .international table tr td {
            border-right: 1px solid darkgray;
        }
        #chartdiv {
            width: 70%;
            margin: auto;
            height: 600px;
            margin-bottom: 180px;
        }
        a { cursor: pointer; }
        @keyframes ser1 {0%{background-color: rgba(168,255,255,0.0);} 100%{background-color: rgba(168,255,255,0.4);}}
        @keyframes ser2 {0%{background-color: rgba(255,192,203,0.0);} 100%{background-color: rgba(255,192,203,0.4);}}
        @keyframes ser3 {0%{background-color: rgba(250,123,220,0.0);} 100%{background-color: rgba(220,93,220,0.2);}}
        @media only screen and (max-width: 600px) {
            #mchartdiv {
                width: 100% !important;
                margin: auto;
                height: 600px;
                margin-bottom: 180px;
            }
            #chartdiv {
                display:none;
            }
            #menubar {
                display: none;
            }
            .payservice {
                display: none;
            }
            .payservicemain {
                text-align: center;
            }
            .mpayservice {
                width: 236px;
                height: fit-content;
                margin: auto;
            }
            .mpayservice > div {
                width: 236px;
                height: 266.89px;
                border: 1px solid darkgray;
                margin-bottom: 30px;
                border-radius: 15px;
                text-align: center;
                padding: 15px;
            }
            .service1 {
                background-color: rgba(168,255,255,0.4);
            }
            .service2 {
                background-color: rgba(255,192,203,0.4);
            }
            .service3 {
                background-color: rgba(220,93,220,0.2);
            }
            .mpayservice label {
                font-size: 15px;
            }
        }
        @media only screen and (min-width: 1201px) {
            #mchartdiv {
                display: none;
            }
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            .mpayservice {
                display: none;
            }
            .payservicemain {
                width: 1000px;
                padding: 30px;
                margin: auto;
                text-align: center;
                border: 1px solid darkgray;
                border-radius: 15px;
                margin-bottom: 250px;
            }
            .payservice {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .payservice > div {
                width: 236px;
                height: 266.89px;
                border: 1px solid darkgray;
                border-radius: 15px;
                text-align: center;
                padding: 15px;
            }
            .payservice > div > label {
                font-size: 15px !important;
                display: block;
            }
            .payservice > span {
                font-size: 50px;
                font-weight: bold;
            }
            .service1:hover {
                animation: ser1 1s ease-in-out;
                animation-fill-mode:both;
            }
            .service2:hover {
                animation: ser2 1s ease-in-out;
                animation-fill-mode:both;
            }
            .service3:hover {
                animation: ser3 1s ease-in-out;
                animation-fill-mode:both;
            }
            .main .card {
                width: 472.94px;
            }
        }
        @media only screen and (min-width: 993px) and (max-width: 1200px) {
            #mchartdiv {
                display: none;
            }
            .mmlogin {
                display: none;
            }
            #mmenubar {
                display: none;
            }
            .mpayservice {
                display: none;
            }
            .payservicemain {
                width: 1000px;
                padding: 30px;
                margin: auto;
                text-align: center;
                border: 1px solid darkgray;
                border-radius: 15px;
                margin-bottom: 250px;
            }
            .payservice {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .payservice > div {
                width: 236px;
                height: 266.89px;
                border: 1px solid darkgray;
                border-radius: 15px;
                text-align: center;
                padding: 15px;
            }
            .payservice > div > label {
                font-size: 15px !important;
                display: block;
            }
            .payservice > span {
                font-size: 50px;
                font-weight: bold;
            }
            .service1:hover {
                animation: ser1 1s ease-in-out;
                animation-fill-mode:both;
            }
            .service2:hover {
                animation: ser2 1s ease-in-out;
                animation-fill-mode:both;
            }
            .service3:hover {
                animation: ser3 1s ease-in-out;
                animation-fill-mode:both;
            }
            .main .card {
                width: 472.94px;
            }
        }
        @media only screen and (min-width: 601px) and (max-width: 992px) {
            #mchartdiv {
                display: none;
            }
            .mmlogin {
                display: none;
            }
            #menubar {
                display: none;
            }
            .payservice {
                display: none;
            }
            .payservicemain {
                text-align: center;
            }
            .mpayservice {
                width: 236px;
                height: fit-content;
                margin: auto;
            }
            .mpayservice > div {
                width: 236px;
                height: 266.89px;
                border: 1px solid darkgray;
                margin-bottom: 30px;
                border-radius: 15px;
                text-align: center;
                padding: 15px;
            }
            .service1 {
                background-color: rgba(168,255,255,0.4);
            }
            .service2 {
                background-color: rgba(255,192,203,0.4);
            }
            .service3 {
                background-color: rgba(220,93,220,0.2);
            }
            .mpayservice label {
                font-size: 15px;
            }
        }
    </style>
    <script src="/../javascripts/IProfile.js"></script>
</head>
<body>
    <div class="top row">
        <div class="logo hide-on-med-and-down" onclick="location.replace('/');">
            <i class="fa fa-truck" style="cursor:pointer;"></i>
        </div>
        <div class="exp">
            <span>더보기</span>
        </div>
        <div class="mlogin hide-on-med-and-down">
            <% if(decoded) { %>
                <table>
                    <tbody>
                        <tr><td><%= decoded.uname %> : <%= decoded.uid %> | </td><td style="margin-left: 10px !important;"><a href="/account/logout">로그아웃</a></td></tr>
                    </tbody>
                </table>
            <% } else { %>
                <form action="/account/login" method="POST" onsubmit="userCheck(event, this)">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="text" class="validate" name="userid" id="uid" placeholder="ID" required></td>
                                <td><input type="password" class="validate" name="userpass" id="upass" placeholder="Password" required></td>
                                <td><input type="submit" value="로그인" id="userloginsubmit"></td>
                            </tr>
                            <tr>
                                <td><a style="color: white;" href="/account/forget">계정을 잊으셨나요?</a></td>
                                <td><a style="color: white;" href="/account/signup">회원가입</a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            <% } %>
        </div>
    </div>

    <div class="main">
        <div class="menu">
            <div class="welcometap">
                <div class="wel1">
                    <% if(decoded) { %>
                        <label class="lweltext"><%=decoded.uname%>님 어서오세요!</label>
                        <img src="/images/userProfile/<%=decoded.unum%>" onerror="this.src='/images/userProfile/none.png';" class="profileImg">
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/loginuser/searchrecord/');">조회했던 택배 보기</button>
                        </div>
                    <% } else { %>
                        <div class="profileImg" style="display: none;"></div>
                        <label class="weltext">처음 오셨나요?</label>
                        <i class="fa fa-boxes"></i>
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/account/login/')">로그인</button>
                            <button class="lo" onclick="location.replace('/account/signup/');">회원가입</button>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="menutap menutap1" onclick="location.replace('/');">택배 조회 (메인 화면)</div>
            <% if(seller) { %>
                <div class="menutap menutap15" onclick="location.replace('/loginuser/delienr');">운송장 등록</div>
            <% } %>
            <div class="menutap menutap2" onclick="location.replace('/loginuser/tmanage');">택배 관리</div>
            <div class="menutap menutap3" onclick="location.replace('/loginuser/searchrecord');">택배 조회 기록</div>
            <div class="menutap menutap5" onclick="location.replace('/loginuser/setting');">설정</div>
            <div class="menutap menutap55" onclick="location.replace('/loginuser/chat');">판매자와 채팅</div>
            <div class="menutap menutap6 sel" onclick="location.replace('/about/');">더보기</div>
        </div>
        <div class="mmenu" id="semenu">
            <div class="mwelcometap">
                <div class="mwel1">
                    <% if(decoded) { %>
                        <label class="lweltext"><%=decoded.uname%>님 어서오세요!</label>
                        <img src="/images/userProfile/<%=decoded.unum%>" onerror="this.src='/images/userProfile/none.png';" class="mprofileImg">
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/loginuser/searchrecord/');">조회했던 택배 보기</button>
                        </div>
                    <% } else { %>
                        <div class="mprofileImg" style="display: none;"></div>
                        <label class="weltext">처음 오셨나요?</label>
                        <i class="fa fa-boxes"></i>
                        <div class="lbtn">
                            <button class="lo" onclick="location.replace('/account/login/')">로그인</button>
                            <button class="lo" onclick="location.replace('/account/signup/');">회원가입</button>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="mmenutap menutap1" onclick="location.replace('/');">택배 조회 (메인 화면)</div>
            <% if(seller) { %>
                <div class="mmenutap menutap15" onclick="location.replace('/loginuser/delienr');">운송장 등록</div>
            <% } %>
            <div class="mmenutap menutap2" onclick="location.replace('/loginuser/tmanage');">택배 관리</div>
            <div class="mmenutap menutap3" onclick="location.replace('/loginuser/searchrecord');">택배 조회 기록</div>
            <div class="mmenutap menutap5" onclick="location.replace('/loginuser/setting');">설정</div>
            <div class="mmenutap menutap55" onclick="location.replace('/loginuser/chat');">판매자와 채팅</div>
            <div class="mmenutap menutap6 sel" onclick="location.replace('/about/');">더보기</div>
        </div>
        <div class="main1">
            <i class="material-icons" id="menubar" style="font-size: 40px; cursor: pointer;">menu</i>
            <i class="material-icons" id="mmenubar" style="font-size: 40px; cursor: pointer;">menu</i>

            <% if(decoded) { %>
                <span class="mmlogin" style="position: absolute; top: 20px; right: 10px;"><%=decoded.uname%> : <%=decoded.uid%></span><br>
                <a class="mmlogin" href="/account/logout" style="color: gray; position:absolute; right: 10px; top: 40px;">로그아웃</a>
            <% } else {%>
                <a class="mmlogin" href="/account/login" style="color: gray; position:absolute; right: 10px; top: 30px;">로그인 하러 가기</a>
            <% } %>
            
            <a name="top10"></a>
            <h3 style="margin-top: 0px; font-weight: bold; text-align: center;">택배사 조회 기록</h3>
            <h5 style="margin-top: 0px; margin-bottom: 70px; text-align: center;">top 10</h5>
            <div id="chartdiv"></div>
            <div id="mchartdiv"></div>

            <a name="taekbae"></a>
            <h3 style="margin-top: 0px; margin-bottom: 70px; font-weight: bold; text-align: center;">조회 가능 택배사</h3>
            <div class="taekbae" id="taebae">
                <div class="domestic">
                    <h5 style="font-weight: bold; margin-top: 0px;">국내택배</h5><h6 style="margin-bottom: 30px;">(26개사)</h6>
                    <table class="centered striped">
                        <tr>
                            <td><a href="https://www.kunyoung.com/">건영택배</a></td>
                            <td><a href="https://kdexp.com/main.kd">경동택배</a></td>
                            <td style="border: none !important;"><a href="https://www.homepick.com/">홈픽택배</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.goodstoluck.co.kr/">굿투럭</a></td>
                            <td><a href="https://ex.nhlogis.co.kr/main.do">농협택배</a></td>
                            <td style="border: none !important;"><a href="http://www.ds3211.co.kr/">대신택배</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.ilogen.com/web">로젠택배</a></td>
                            <td><a href="https://www.lotteglogis.com/">롯데택배</a></td>
                            <td style="border: none !important;"><a href="http://www.sebang.com/">세방</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.anytrack.co.kr/">애니트랙</a></td>
                            <td><a href="https://service.epost.go.kr/">우체국택배</a></td>
                            <td style="border: none !important;"><a href="https://www.ilyanglogis.com/">일양로지스</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.chunilps.co.kr/">천일택배</a></td>
                            <td><a href="http://www.e-handex.co.kr/">한덱스</a></td>
                            <td style="border: none !important;"><a href="http://www.hanips.com/">한의사랑택배</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.hanjin.co.kr/">한진택배</a></td>
                            <td><a href="https://hdexp.co.kr/index.hd">합동택배</a></td>
                            <td style="border: none !important;"><a href="http://honamlogis.co.kr/">호남택배</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.cjlogistics.com/">CJ대한통운</a></td>
                            <td><a href="https://www.cupost.co.kr/">CU편의점택배</a></td>
                            <td style="border: none !important;"><a href="https://www.cvsnet.co.kr/main/index.do">CVSnet 편의점택배</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.kgb.co.kr/index.asp">KGB택배</a></td>
                            <td><a href="http://kglnetworks.com/">KGL네트웍스</a></td>
                            <td style="border: none !important;"><a href="http://www.slx.co.kr/">SLX</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://play.google.com/store/apps/details?id=com.bandsoft.hilogis&hl=ko">하이택배</a></td>
                            <td><a href="http://www.foreverps.co.kr/theme/business02/html/delivery/transportation.php">FLF퍼레버택배</a></td>
                            <td style="border: none !important;"></td>
                        </tr>
                    </table>
                </div>
                <div class="international">
                    <h5 style="font-weight: bold;">국제택배 (유료)</h5><h6 style="margin-bottom: 30px;">(17개사)</h6>
                    <table class="centered striped">
                        <tr>
                            <td><a href="https://www.lotteglogis.com/">롯데글로벌 로지스</a></td>
                            <td><a href="http://www.pantos.com/kr/main.do">범한판토스</a></td>
                            <td style="border: none !important;"><a href="http://www.airboyexpress.com/">에어보이익스프레스</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.global.ecmsglobal.com/?lang=ko">APEX(ECMS Express)</a></td>
                            <td><a href="https://www.cjlogistics.com/ko/support/guide/express">CJ대한통운 국제특송</a></td>
                            <td style="border: none !important;"><a href="http://service.cwaycorp.com/">Cway Express</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.dhl.com/">DHL</a></td>
                            <td><a href="https://www.dhl.com/global-en/home/tracking.html">DHL Global Mail</a></td>
                            <td style="border: none !important;"><a href="https://www.ems.post/">EMS</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.fedex.com/">Fedex</a></td>
                            <td><a href="https://gsiexpress.com/">GSI Express</a></td>
                            <td style="border: none !important;"><a href="http://www.gsmnton.com/gsm/handler/Index">GSMNtoN(인로스)</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.aftership.com/">i-Parcel</a></td>
                            <td><a href="https://www.tnt.com/">TNT Express</a></td>
                            <td style="border: none !important;"><a href="https://europarcel.com.au/">EuroParcel(유로택배)</a></td>
                        </tr>
                        <tr style="border-bottom: 1px solid darkgray;">
                            <td><a href="https://www.ups.com/">UPS</a></td>
                            <td><a href="https://www.usps.com/">USPS</a></td>
                            <td style="border: none !important;"></td>
                        </tr>
                    </table>
                </div>
                <div class="payt"></div>
            </div>

            <a name="pay"></a>
            <div class="payservicemain" style="margin-top: 200px;">
                <h3 style="margin-bottom: 70px; font-weight: bold;">유료 서비스</h3>
                <div class="payservice">
                    <div class="service1">
                        <h5 style="font-weight: normal;">국제 택배 조회</h5>
                        <h6 style="font-weight: bold; margin-bottom: 30px;">무제한</h6>
                        <label style="margin-bottom: 30px;">해외에 있어, 택배가 걱정이라면<br>국제택배 조회 서비스를<br>이용 해보세요 !</label>
                        <% if(decoded) { %>
                            <% if(payo) { %>
                                <a class="waves-effect waves-light btn grey"><i class="material-icons right">check</i>구매완료</a>
                                <div id="ser1button" style="display: none;"></div>
                            <% } else { %>
                                <a class="waves-effect waves-light btn" id="ser1button"><i class="material-icons right"><i class="fas fa-won-sign"></i></i>1000</a>
                            <% } %>
                        <% } else { %>
                            <a class="waves-effect waves-light grey btn" id="ser1button" href="/account/login/">로그인</a>
                        <% } %>
                    </div>
                    <span>+</span>
                    <div class="service2">
                        <h5 style="font-weight: normal;">카카오톡 봇 이용</h5>
                        <h6 style="font-weight: bold; margin-bottom: 30px;">무제한</h6>
                        <label style="margin-bottom: 30px;">직접 웹에 들어오지 않아도<br>배송상태 알림, 조회, 기록등을<br>카카오톡 봇으로 확인해보세요 !</label>
                        <% if (decoded) { %>
                            <% if(payt) { %>
                                <a class="waves-effect waves-light btn grey"><i class="material-icons right">check</i>구매완료</a>
                                <div id="ser2button" style="display: none;"></div>
                            <% } else { %>
                                <a class="waves-effect waves-light btn" id="ser2button"><i class="material-icons right"><i class="fas fa-won-sign"></i></i>1200</a>
                            <% } %>
                        <% } else { %>
                            <a class="waves-effect waves-light grey btn" id="ser2button" href="/account/login/">로그인</a>
                        <% } %>
                    </div>
                    <span>=</span>
                    <div class="service3">
                        <h5 style="font-weight: normal;">둘다 마음껏 !</h5>
                        <h6 style="font-weight: bold; margin-bottom: 30px;">무제한</h6>
                        <label style="margin-bottom: 30px;">더 많은 택배 조회를 하면서도<br>카톡으로 모든 기능 이용까지 !<br>더더욱 많고 편한 조회를 !</label>
                        <% if(decoded) { %>
                            <% if(payo && payt) { %>
                                <a class="waves-effect waves-light btn grey"><i class="material-icons right">check</i>구매완료</a>
                                <div id="ser3button" style="display: none;"></div>
                            <% } else { %>
                                <a class="waves-effect waves-light btn" id="ser3button"><i class="material-icons right"><i class="fas fa-won-sign"></i></i>2000</a>
                            <% } %>
                        <% } else { %>
                            <a class="waves-effect waves-light grey btn" id="ser3button" href="/account/login/">로그인</a>
                        <% } %>
                    </div>
                </div>

                <div class="mpayservice">
                    <div class="service1">
                        <h5 style="font-weight: normal;">국제 택배 조회</h5>
                        <h6 style="font-weight: bold; margin-bottom: 30px;">무제한</h6>
                        <label style="margin-bottom: 30px; display: block;">해외에 있어, 택배가 걱정이라면<br>국제택배 조회 서비스를<br>이용 해보세요 !</label>
                        <% if(decoded) { %>
                            <% if(payo) { %>
                                <a class="waves-effect waves-light btn grey"><i class="material-icons right">check</i>구매완료</a>
                                <div id="mser1button" style="display: none;"></div>
                            <% } else { %>
                                <a class="waves-effect waves-light btn" id="mser1button"><i class="material-icons right"><i class="fas fa-won-sign"></i></i>1000</a>
                            <% } %>
                        <% } else { %>
                            <a class="waves-effect waves-light grey btn" id="mser1button" href="/account/login/">로그인</a>
                        <% } %>
                    </div>
                    <div class="service2">
                        <h5 style="font-weight: normal;">카카오톡 봇 이용</h5>
                        <h6 style="font-weight: bold; margin-bottom: 30px;">무제한</h6>
                        <label style="margin-bottom: 30px; display: block;">직접 웹에 들어오지 않아도<br>배송상태 알림, 조회, 기록등을<br>카카오톡 봇으로 확인해보세요 !</label>
                        <% if(decoded) { %>
                            <% if(payt) { %>
                                <a class="waves-effect waves-light btn grey"><i class="material-icons right">check</i>구매완료</a>
                                <div id="mser2button" style="display: none;"></div>
                            <% } else { %>
                                <a class="waves-effect waves-light btn" id="mser2button"><i class="material-icons right"><i class="fas fa-won-sign"></i></i>1200</a>
                            <% } %>
                        <% } else { %>
                            <a class="waves-effect waves-light grey btn" id="mser2button" href="/account/login/">로그인</a>
                        <% } %>
                    </div>
                    <div class="service3">
                        <h5 style="font-weight: normal;">둘다 마음껏 !</h5>
                        <h6 style="font-weight: bold; margin-bottom: 30px;">무제한</h6>
                        <label style="margin-bottom: 30px; display: block;">더 많은 택배 조회를 하면서도<br>카톡으로 모든 기능 이용까지 !<br>더더욱 많고 편한 조회를 !</label>
                        <% if(decoded) { %>
                            <% if(payo && payt) { %>
                                <a class="waves-effect waves-light btn grey"><i class="material-icons right">check</i>구매완료</a>
                                <div id="mser3button" style="display: none;"></div>
                                <% } else { %>
                                <a class="waves-effect waves-light btn" id="mser3button"><i class="material-icons right"><i class="fas fa-won-sign"></i></i>2000</a>
                            <% } %>
                        <% } else { %>
                            <a class="waves-effect waves-light grey btn" id="mser3button" href="/account/login/">로그인</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="explain" style="margin-bottom: 50px; position: absolute; transform: translate(-50%, -50%); left: 50%;">
                <a class="waves-effect waves-light btn-small orange" id="forget"><i class="material-icons left" style="font-size: 25px;">assignment</i>자세한 설명 보기</a>
            </div>
        </div>
        <% if(decoded) { %>
            <div id="ser1pay">
                <div class="row">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">'국제 택배 조회' 결제</span>
                            <p>해외에 있어, 택배가 걱정이라면<br>국제택배 조회 서비스를 이용 해보세요 !<br><br>가격 : 1000 원</p>
                        </div>
                        <div class="card-action">
                            <a id="ser1g" style="font-weight: bold !important;">결제 할께요!</a>
                            <a id="ser1cancel" style="color: darkgray; position: absolute; right: 0; cursor: pointer;">취소</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ser2pay">
                <div class="row">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">'카카오톡 봇 이용' 결제</span>
                            <p>카카오톡 봇으로 배송 조회, 기록, 알림까지 이용하실수 있습니다 !<br><br>가격 : 1200 원</p>
                        </div>
                        <div class="card-action">
                            <a id="ser2g" style="font-weight: bold !important;">결제 할께요!</a>
                            <a id="ser2cancel" style="color: darkgray; position: absolute; right: 0; cursor: pointer;">취소</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ser3pay">
                <div class="row">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">'둘다 마음껏 !' 결제</span>
                            <p>해외 택배사의 조회부터 카톡 봇으로 이용한 국내 택배 조회, 기록, 알림까지 ! 더욱 더 많은 주문하신 상품을 조회할 수 있어요 !<br><br>가격 : 2000 원</p>
                        </div>
                        <div class="card-action">
                            <a id="ser3g" style="font-weight: bold !important;">결제 할께요!</a>
                            <a id="ser3cancel" style="color: darkgray; position: absolute; right: 0; cursor: pointer;">취소</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div id="ser1pay" style="display: none;"><div id="ser1g" style="display: none;"><div id="ser2g" style="display: none;"><div id="ser3g" style="display: none;"></div></div></div></div>
        <% } %>
    </div>
    <div id="proselectd">
        <div id="proselect">
            <div id="toppro">
                <% if(decoded) { %>
                    <img src="/images/userProfile/<%=decoded.unum%>" onerror="IProfile();" id="deimg">
                <% } else { %>
                    <i class="far fa-user" style="font-size: 35px;"></i>
                    <div id="deimg" style="display: none !important;"></div>
                <% } %>
                <h4 id="delh4">프로필</h4>
            </div>
            <div id="psoption">
                <div id="originalPro"><span>기본 프로필</span></div>
                <div id="profilechange">
                    <label for="chpro" id="al">프로필 변경</label>
                    <form action="/profileUpload/" method="POST" enctype="multipart/form-data" onsubmit="gprofileSub(event, this);">
                        <input type="file" name="proImage" id="chpro" style="display: none !important;" accept="image/png, image/jpg, image/jpeg" onchange="prochfilecheck(this);">
                        <input type="submit" style="display: none !important;" id="psub">
                    </form>
                </div>
            </div>
            <div id="closeselect"><span>닫기</span></div>
        </div>
    </div>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="/../javascripts/menu.js"></script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.0.2.min.js" type="application/javascript"></script>
    <script>
        let explain = document.querySelector(".explain");
        explain.onclick = () => { window.open(`/explain`, '', 'width=500,height=705,scrollbar=yes'); }

        function makeChart(){
            let chart = am4core.create("chartdiv", am4charts.XYChart);

            var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "name";
            categoryAxis.title.text = "택배사";

            var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
            valueAxis.title.text = "조회수";
            
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryY = "name";
            series.dataFields.valueX = "lookup";
            series.tooltipText = "{name}: [bold]{valueX}[/]";
            
            chart.cursor = new am4charts.XYCursor();
            return chart;
        }

        function mmakeChart() {
            let mchart = am4core.create("mchartdiv", am4charts.XYChart);

            var categoryAxis = mchart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "name";
            categoryAxis.title.text = "택배사";

            var valueAxis = mchart.xAxes.push(new am4charts.ValueAxis());
            valueAxis.title.text = "조회수";
            
            var series = mchart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryY = "name";
            series.dataFields.valueX = "lookup";
            series.tooltipText = "{name}: [bold]{valueX}[/]";
            
            mchart.cursor = new am4charts.XYCursor();
            return mchart;
        }

        let info = { app: 'apploval' }
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/tracking/lookupcheck');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if(xhr.readyState === 4 && xhr.status === 200) {
                let data = JSON.parse(xhr.responseText);
                if(data.result == "success") {
                    let chart = makeChart();
                    chart.data = data.data;
                    let mchart = mmakeChart();
                    mdata = data.data;
                    mchart.data = data.mdata;
                } else {
                    console.log('fail');
                }
            }
        }
        xhr.send(JSON.stringify(info));

        let ser1button = document.getElementById("ser1button");
        let ser2button = document.getElementById("ser2button");
        let ser3button = document.getElementById("ser3button");

        let ser1pay = document.getElementById("ser1pay");
        let ser2pay = document.getElementById("ser2pay");
        let ser3pay = document.getElementById("ser3pay");

        let ser1cancel = document.getElementById("ser1cancel");
        let ser2cancel = document.getElementById("ser2cancel");
        let ser3cancel = document.getElementById("ser3cancel");

        let mser1button = document.getElementById("mser1button");
        let mser2button = document.getElementById("mser2button");
        let mser3button = document.getElementById("mser3button");

        let tser1 = false;
        let tser2 = false;
        let tser3 = false;

        window.onload = () => {
            ser1pay.style.display = "none";
            ser2pay.style.display = "none";
            ser3pay.style.display = "none";
        }

        ser1button.onclick = () => {
            ser2pay.style.display = "none";
            ser3pay.style.display = "none";
            if(tser1) {
                ser1pay.style.display = "none";
                tser1 = false;
                ser1pay.classList.remove('emphasized');
            } else {
                ser1pay.style.display = "inline-block";
                ser1pay.style.position = "absolute";
                ser1pay.style.right = "50px";
                tser1 = true;
                ser1pay.classList.add('emphasized');
                window.scroll({top: 0, left: 0, behavior: 'smooth'});
            }
        }
        ser2button.onclick = () => {
            ser1pay.style.display = "none";
            ser3pay.style.display = "none";
            if(tser2) {
                ser2pay.style.display = "none";
                tser2 = false;
                ser2pay.classList.remove('emphasized');
            } else {
                ser2pay.style.display = "inline-block";
                ser2pay.style.position = "absolute";
                ser2pay.style.right = "50px";
                tser2 = true;
                ser2pay.classList.add('emphasized');
                window.scroll({top: 0, left: 0, behavior: 'smooth'});
            }
        }
        ser3button.onclick = () => {
            ser1pay.style.display = "none";
            ser2pay.style.display = "none";
            if(tser3) {
                ser3pay.style.display = "none";
                tser3 = false;
                ser3pay.classList.remove('emphasized');
            } else {
                ser3pay.style.display = "inline-block";
                ser3pay.style.position = "absolute";
                ser3pay.style.right = "50px";
                tser3 = true;
                ser3pay.classList.add('emphasized');
                window.scroll({top: 0, left: 0, behavior: 'smooth'});
            }
        }
        mser1button.onclick = () => {
            ser2pay.style.display = "none";
            ser3pay.style.display = "none";
            if(tser1) {
                ser1pay.style.display = "none";
                tser1 = false;
                ser1pay.classList.remove('emphasized');
            } else {
                ser1pay.style.display = "inline-block";
                ser1pay.style.position = "absolute";
                ser1pay.style.right = "0";
                ser1pay.style.top = "30%;";
                tser1 = true;
                ser1pay.classList.add('emphasized');
                window.scroll({top: 0, left: 0, behavior: 'smooth'});
            }
        }
        mser2button.onclick = () => {
            ser1pay.style.display = "none";
            ser3pay.style.display = "none";
            if(tser2) {
                ser2pay.style.display = "none";
                tser2 = false;
                ser2pay.classList.remove('emphasized');
            } else {
                ser2pay.style.display = "inline-block";
                ser2pay.style.position = "absolute";
                ser2pay.style.right = "0";
                ser2pay.style.top = "30%;";
                tser2 = true;
                ser2pay.classList.add('emphasized');
                window.scroll({top: 0, left: 0, behavior: 'smooth'});
            }
        }
        mser3button.onclick = () => {
            ser1pay.style.display = "none";
            ser2pay.style.display = "none";
            if(tser3) {
                ser3pay.style.display = "none";
                tser3 = false;
                ser3pay.classList.remove('emphasized');
            } else {
                ser3pay.style.display = "inline-block";
                ser3pay.style.position = "absolute";
                ser3pay.style.right = "0";
                ser3pay.style.top = "30%;";
                tser3 = true;
                ser3pay.classList.add('emphasized');
                window.scroll({top: 0, left: 0, behavior: 'smooth'});
            }
        }
        ser1cancel.onclick = () => {
            ser1pay.style.display = "none";
            ser2pay.style.display = "none";
            ser3pay.style.display = "none";
            ser1pay.classList.remove('emphasized');
            window.scroll({top: 2500, left: 0, behavior: 'smooth'});
            tser1 = false;
        }
        ser2cancel.onclick = () => {
            ser1pay.style.display = "none";
            ser2pay.style.display = "none";
            ser3pay.style.display = "none";
            ser2pay.classList.remove('emphasized');
            window.scroll({top: 2700, left: 0, behavior: 'smooth'});
            tser2 = false;
        }
        ser3cancel.onclick = () => {
            ser1pay.style.display = "none";
            ser2pay.style.display = "none";
            ser3pay.style.display = "none";
            ser3pay.classList.remove('emphasized');
            window.scroll({top: 3000, left: 0, behavior: 'smooth'});
            tser3 = false;
        }

        // LOGIN
        function userCheck(e, form) {
            e.preventDefault();

            let userInfo = {
                id: form.userid.value,
                password: form.userpass.value
            }
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/account/login/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    console.log(data.msg);
                    if(data.result == "success") {
                        console.log(data.msg);
                        location.replace('/about');
                    } else if(data.result == "fail") {
                        alert(data.msg);
                        uid.style.borderBottom = "2px solid red";
                        upass.style.borderBottom = "2px solid red";
                        upass.value = "";
                    } else {
                        alert("로그인 도중 에러가 발생했습니다. 나중에 다시 시도해주십시오.");
                    }
                }
            }
            xhr.send(JSON.stringify(userInfo));
        }
    </script>



    <script>
        let ser1g = document.getElementById("ser1g");
        let ser2g = document.getElementById("ser2g");
        let ser3g = document.getElementById("ser3g");
        let data = {
            // action: "BootpayDone"
            // card_code: "0200"
            // card_name: "BC카드"
            // card_no: "9200420000000613"
            // card_quota: "00"
            // item_name: "국제 택배 조회"
            // method: "card"
            // method_name: "ISP / 앱카드 결제"
            // order_id: "741e0ce325bdba0bf62a4756375a5678d7c87fc5ac8ea7740928e602ef05a67c"
            // payment_group: "card"
            // payment_group_name: "신용카드"
            // payment_name: "ISP / 앱카드 결제"
            // pg: "danal"
            // pg_name: "다날"
            // price: 1000
            // purchased_at: "2020-06-28 15:22:14"
            // receipt_id: "5ef836b42fa5c200489759ce"
            // receipt_url: "https://www.danalpay.com/receipt/creditcard/view.aspx?datatype=receipt&cpid=9810030929&data=DS1FBLU2jVz1gwSuLi5KlWzOK0R0fmN0E8MaIHE4ydZkbC%2BJdLtmjliv0l7A%0AgXDv%0A"
            // requested_at: "2020-06-28 15:20:36"
            // status: 1
            // tax_free: 0
            // url: "http://localhost:3000"
        }

        ser1g.onclick = () => {
            let userPhone = "";
            let userEmail = "";
            let userName = "";

            let userInfo = { id: 'halo' };
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/account/checkacc/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.result == "success") {
                        userPhone = data.uphone;
                        userEmail = data.uemail;
                        userName = data.uname;
                    }
                }
            }
            xhr.send(JSON.stringify(userInfo));

            userPhone = userPhone.slice(0, 3) + '-' + userPhone.slice(3, 7) + '-' + userPhone.slice(7, 11);

            let chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            let string_length = 15;
            let randomstring = '';
            for(let i=0; i<string_length; i++) {
                let rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum,rnum+1);
            }
            
            BootPay.request({
                price: '1000',
                application_id: "5ef815974f74b40021f2b989",
                name: '국제 택배 조회',
                show_agree_window: 1,
                items: [
                    {
                        item_name: '국제 택배 조회',
                        qty: 1,
                        unique: '1',
                        price: 1000,
                        cat1: '국제 택배 조회',
                        cat2: '해외에서도 가능한!',
                        cat3: '더 많은 배송 조회!',
                    }
                ],
                user_info: {
                    username: userName,
                    email: userEmail,
                    phone: userPhone
                },
                order_id: randomstring //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
            }).error(function (data) {
                //결제 진행시 에러가 발생하면 수행됩니다.
                alert("결제 진행도중 에러가 발생했습니다! 다시 시도해주세요!");
                console.log(data);
            }).cancel(function (data) {
                //결제가 취소되면 수행됩니다.
                ser1pay.style.display = "none";
                ser2pay.style.display = "none";
                ser3pay.style.display = "none";
                ser1pay.classList.remove('emphasized');
                window.scroll({top: 2700, left: 0, behavior: 'smooth'});
                tser1 = false;
                console.log(data);
            }).ready(function (data) {
                // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
                console.log(data);
            }).confirm(function (data) {
                //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
                //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
                console.log(data);
                var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
                if (enable) {
                    BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
                } else {
                    BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
                }
            }).close(function (data) {
                // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
                ser1pay.style.display = "none";
                ser2pay.style.display = "none";
                ser3pay.style.display = "none";
                ser1pay.classList.remove('emphasized');
                window.scroll({top: 2700, left: 0, behavior: 'smooth'});
                tser1 = false;
                console.log(data);
            }).done(function (data) {
                //결제가 정상적으로 완료되면 수행됩니다
                //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
                let doneData = { data: data };
                let xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:3000/account/buycheck/pay1');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if(data.buySu) {
                            alert("결제에 성공하였습니다.");
                            location.replace(location.href);
                        } else {
                            if(data.msg) { alert(data.msg); }
                            else { alert("결제 처리과정에서 에러가 발생했습니다."); }
                        }
                    }
                }
                xhr.send(JSON.stringify(doneData));
                console.log(data);
            });
        }

        ser2g.onclick = () => {
            let userPhone = "";
            let userEmail = "";
            let userName = "";

            let userInfo = { id: 'halo' };
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/account/checkacc/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.result == "success") {
                        userPhone = data.uphone;
                        userEmail = data.uemail;
                        userName = data.uname;
                    }
                }
            }
            xhr.send(JSON.stringify(userInfo));

            userPhone = userPhone.slice(0, 3) + '-' + userPhone.slice(3, 7) + '-' + userPhone.slice(7, 11);

            let chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            let string_length = 15;
            let randomstring = '';
            for(let i=0; i<string_length; i++) {
                let rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum,rnum+1);
            }
            
            BootPay.request({
                price: '1200',
                application_id: "5ef815974f74b40021f2b989",
                name: '카카오톡 봇 이용',
                show_agree_window: 1,
                items: [
                    {
                        item_name: '카카오톡 봇 이용',
                        qty: 1,
                        unique: '2',
                        price: 1200,
                        cat1: '카카오톡 봇 이용',
                        cat2: '봇으로 조회 및 알림까지!',
                        cat3: '웹 들어갈 필요 없이!',
                    }
                ],
                user_info: {
                    username: userName,
                    email: userEmail,
                    phone: userPhone
                },
                order_id: randomstring //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
            }).error(function (data) {
                //결제 진행시 에러가 발생하면 수행됩니다.
                alert("결제 진행도중 에러가 발생했습니다! 다시 시도해주세요!");
                console.log(data);
            }).cancel(function (data) {
                //결제가 취소되면 수행됩니다.
                ser1pay.style.display = "none";
                ser2pay.style.display = "none";
                ser3pay.style.display = "none";
                ser1pay.classList.remove('emphasized');
                window.scroll({top: 2700, left: 0, behavior: 'smooth'});
                tser1 = false;
                console.log(data);
            }).ready(function (data) {
                // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
                console.log(data);
            }).confirm(function (data) {
                //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
                //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
                console.log(data);
                var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
                if (enable) {
                    BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
                } else {
                    BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
                }
            }).close(function (data) {
                // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
                ser1pay.style.display = "none";
                ser2pay.style.display = "none";
                ser3pay.style.display = "none";
                ser1pay.classList.remove('emphasized');
                window.scroll({top: 2700, left: 0, behavior: 'smooth'});
                tser1 = false;
                console.log(data);
            }).done(function (data) {
                //결제가 정상적으로 완료되면 수행됩니다
                //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
                let doneData = { data: data };
                let xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:3000/account/buycheck/pay2');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if(data.buySu) {
                            alert("결제에 성공하였습니다.");
                            location.replace(location.href);
                        } else {
                            if(data.msg) { alert(data.msg); }
                            else { alert("결제 처리과정에서 에러가 발생했습니다."); }
                        }
                    }
                }
                xhr.send(JSON.stringify(doneData));
                console.log(data);
            });
        }

        ser3g.onclick = () => {
            let userPhone = "";
            let userEmail = "";
            let userName = "";

            let userInfo = { id: 'halo' };
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/account/checkacc/');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.result == "success") {
                        userPhone = data.uphone;
                        userEmail = data.uemail;
                        userName = data.uname;
                    }
                }
            }
            xhr.send(JSON.stringify(userInfo));

            userPhone = userPhone.slice(0, 3) + '-' + userPhone.slice(3, 7) + '-' + userPhone.slice(7, 11);

            let chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
            let string_length = 15;
            let randomstring = '';
            for(let i=0; i<string_length; i++) {
                let rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum,rnum+1);
            }
            
            BootPay.request({
                price: '2000',
                application_id: "5ef815974f74b40021f2b989",
                name: '둘다 마음껏',
                show_agree_window: 1,
                items: [
                    {
                        item_name: '둘다 마음껏',
                        qty: 1,
                        unique: '3',
                        price: 2000,
                        cat1: '둘다 마음껏',
                        cat2: '더 간편하고 많은 조회!',
                        cat3: '국제 택배 조회 + 카카오톡 봇',
                    }
                ],
                user_info: {
                    username: userName,
                    email: userEmail,
                    phone: userPhone
                },
                order_id: randomstring //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
            }).error(function (data) {
                //결제 진행시 에러가 발생하면 수행됩니다.
                alert("결제 진행도중 에러가 발생했습니다! 다시 시도해주세요!");
                console.log(data);
            }).cancel(function (data) {
                //결제가 취소되면 수행됩니다.
                ser1pay.style.display = "none";
                ser2pay.style.display = "none";
                ser3pay.style.display = "none";
                ser1pay.classList.remove('emphasized');
                window.scroll({top: 2700, left: 0, behavior: 'smooth'});
                tser1 = false;
                console.log(data);
            }).ready(function (data) {
                // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
                console.log(data);
            }).confirm(function (data) {
                //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
                //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
                console.log(data);
                var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
                if (enable) {
                    BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
                } else {
                    BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
                }
            }).close(function (data) {
                // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
                ser1pay.style.display = "none";
                ser2pay.style.display = "none";
                ser3pay.style.display = "none";
                ser1pay.classList.remove('emphasized');
                window.scroll({top: 2700, left: 0, behavior: 'smooth'});
                tser1 = false;
                console.log(data);
            }).done(function (data) {
                //결제가 정상적으로 완료되면 수행됩니다
                //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
                let doneData = { data: data };
                let xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:3000/account/buycheck/pay3');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if(xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if(data.buySu) {
                            alert("결제에 성공하였습니다.");
                            location.replace(location.href);
                        } else {
                            if(data.msg) { alert(data.msg); }
                            else { alert("결제 처리과정에서 에러가 발생했습니다."); }
                        }
                    }
                }
                xhr.send(JSON.stringify(doneData));
                console.log(data);
            });
        }
    </script>
</body>
</html>